@use "fonts";

$primary-color: #000000;
$secondary-color: #f5b553;
$accent-color: #efefef;
$body-text-color: #ffffff;
$heading-font-family: "Ubuntu Bold", helvetica, arial;
$body-font-family: "Ubuntu Condensed", arial, sans-serif;
